.contact {
  padding: 5rem;
  text-align: center;

  &__title {
    margin: 1.25rem 0;
    color: $color-primary-dark;
    font-family: $font-stack-hero;
    font-size: 1.875rem;
    font-weight: 400;
  }

  &__text {
    font-size: 1.25rem;
  }

  &__link {
    color: blue;
    text-decoration: underline;
  }
}
