.contact {
  &__form {
    max-width: 37.5rem;
    margin: auto;
  }

  .form__input {
    display: block;
    width: 100%;
    height: 2.5em;
    margin-top: 0.125rem;
    margin-bottom: 1.25rem;
    padding: 0.625rem;
    font-size: 1rem;
    border: 0.0625rem solid $color-primary-dark;
  }

  .input--message {
    height: 15em;
    resize: none;
  }

  .btn--submit {
    display: block;
    margin-left: auto;
    text-transform: uppercase;
  }
}
