.btn--sm {
  padding: 0.45rem 0.625rem;
}

.btn--md {
  padding: 0.8125rem 1.25rem;
}

.btn--primary {
  color: $color-primary-light;
  background: $color-primary-dark;
  border: none;
}

.btn--secondary {
  border: 0.125rem solid orangered;
  border-radius: 0.3125rem;
}
